<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="active"><a ng-href="/">Home</a>
        </li>
    </ul>
    <h3 class="text-muted">Mobile Fun Fighter</h3>
</div>

<div class="row">
    <div class="col-md-6 player" ng-class-even="even" ng-class-odd="odd" ng-repeat="player in game.players">
        <div class="row">
            <div class="col-md-8 character-select">
                <h2>{{ player.name }}</h2>
                <select ng-disabled="game.inProgress" ng-model="player.warrior" ng-options="warrior as warrior.name for warrior in game.warriors[$index]">
                    <option value="">-- choose warrior --</option>
                </select>
                <div class="score">
                    <span ng-repeat="n in [] | range:player.score">
                        <i class="fa fa-trophy"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="character-portrait {{ player.warrior.name | lowercase}}"></div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12" ng-switch on="game.inProgress">
                <div class="table-responsive table-condensed character-sheet" ng-hide="!player.warrior || game.inProgress" ng-switch-default>
                    <table class="table" ng-model="player.warrior">
                        <thead>
                            <tr>
                                <th class="col-md-6">Character Sheet</th>
                                <th class="col-md-6"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Health (hp):</td>
                                <td>{{ player.warrior.health }}</td>
                            </tr>
                            <tr>
                                <td>Attack (atk):</td>
                                <td>{{ player.warrior.attack }}</td>
                            </tr>
                            <tr>
                                <td>Defence (def):</td>
                                <td>{{ player.warrior.defence }}</td>
                            </tr>
                            <tr>
                                <td>Speed (spd):</td>
                                <td>{{ player.warrior.speed }}</td>
                            </tr>
                            <tr>
                                <td>Evade Chance (evd):</td>
                                <td>{{ player.warrior.evadeChance * 100 }}%</td>
                            </tr>
                            <tr>
                                <td>Special (spl):</td>
                                <td>{{ player.warrior.specialToString() }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-switch-when="true">
                    <span class="label player-health" ng-class="{'label-success': player.warrior.healthAsRatio() >= 0.50, 'label-warning': player.warrior.healthAsRatio() <= 0.49, 'label-danger': player.warrior.healthAsRatio() < 0.20}">
                        {{ player.warrior.health }}/{{ player.warrior.maxHealth }}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" ng-switch on="game.inProgress">
        <button type="button" class="btn btn-primary btn-lg btn-block" ng-show="game.playersReady()" ng-click="startGame()" ng-switch-default>Fight!</button>
        <div class="combat-log" ng-switch-when="true">
            <button type="button" class="btn btn-primary btn-lg btn-block" ng-show="game.gameOver" ng-click="newGame()">Rematch!</button>
            <hr>
            <h4>Combat Log</h4>
            <div class="message" ng-repeat="msg in messages track by $index">
                <span class="label" ng-class="[msg.type ? 'label-' + msg.type : 'label-default']">{{ msg.label }}</span> {{ msg.message }}
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <p>All sprites used are property of Nintendo</p>
    <span>&copy; {{ today | date:'yyyy'}}</span>
</div>
